{% extends 'base.html' %}
{% block title %}Mastermind{% endblock %}
{% block content %}
    <h1 class="text-bg-warning">{{nickname}}</h1>
    <h2>Spelinstellingen</h2>
    <form action="#" method="POST">
        <label for="number_of_colours">Aantal kleuren</label>
        <input type="number" name="number_of_colours">

        <label for="number_of_positions">Aantal posities</label>
        <input type="number" name="number_of_positions">

        <label for="doubles_allowed">Dubbele kleuren (moeilijk)</label>
        <input type="checkbox" name="doubles_allowed">

        <label for="cheat_modus">Cheat modus</label>
        <input type="checkbox" name="cheat_modus">



        <input type="submit" value="submit">
    </form>
{% endblock %}