{% extends 'base.html' %}
{% block title %}Mastermind{% endblock %}
{% block content %}
    <h1 class="text-bg-info">{{nickname}}</h1> 
    <h2>{{player}}</h2>  

    <div class="container text-bg-info w-50">
        
        <div class="row">
            {% if cheat_modus %}
                <p>Cheat modus aan</p>
                {% for pin in answer %}
                    <div class="col-sm">{{pin.colour}}</div>
                {% endfor %}
            {% endif %}
            {% if cheat_modus == false %}
                <p>Cheat modus uit</p>
                {% for i in range(number_of_positions) %}
                <div class="col-sm">??{{i+1}}??</div>
                {% endfor %}  
            {% endif %}
            
        </div>
        <!-- {% if guesses|length %}
            {% for guess in guesses %}
                <div class="row">
                    {% for pin in guess %}
                    <div class="col-sm">{{pin.colour}}</div>
                    {% endfor %}
                </div>
            {% endfor %}            
        {% endif %} -->
        <!-- <div class="row"> -->
            {% if amount_of_guesses is defined %}
                {% for count in range(amount_of_guesses) %}
                <div class="row">
                        {% for pin in range(count * number_of_positions, (count*number_of_positions)+number_of_positions) %}
                        <div class="col-sm">{{all_user_pins[pin].colour}}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}


            {% if feedback is defined %}
                    {% for i in range(feedback|length) %}
                        <div class="col-sm bg-warning">{{feedback[i]}}</div>
                    {% endfor %}
            {% endif %}


            
            <form class="row" action="" method="post">
                {% for i in range(number_of_positions) %}
                <input class="col-sm" type="number" value="1" min="1" max="{{number_of_colours}}" name=guess_position_{{i+1}}>
                {% endfor %}
                <input type="submit" value="submit">  
            </form>
        <!-- </div> -->
    </div>

{% endblock %}