{% extends 'base.html' %}
{% block title %}Mastermind{% endblock %}
{% block content %}
    <h1 class="text-bg-warning">{{nickname}}</h1> 
    <h2>{{player}}</h2>   
    
    <div class="text-bg-danger">
        <h3>Spelinstellingen</h3>
        <form action="#" method="POST" class="d-flex flex-column mb-3">
            <div class="p-2">
                <label for="number_of_colours">Aantal kleuren</label>
                <input type="number" value="8" min="4" max="10"  name="number_of_colours">
            </div>

            <div class="p-2">
                <label for="number_of_positions">Aantal posities</label>
                <input type="number" value="4" min="4" max="10" name="number_of_positions">
            </div>

            <div class="p-2">
                <p>Dubbele kleuren toestaan?</p>
                <input type="radio" name="doubles_allowed" value="true">
                <label for="doubles_allowed">Ja</label><br>
                <input type="radio" name="doubles_allowed" value="false">
                <label for="doubles_allowed">Nee</label><br>
            </div>

            <div class="p-2">
                <p>Cheat modus aanzetten?</p>
                <input type="radio" name="cheat_modus" value="true">
                <label for="cheat_modus">Ja</label><br>
                <input type="radio" name="cheat_modus" value="false">
                <label for="cheat_modus">Nee</label><br>
            </div>

            <div class="p-2">
                <input type="submit" value="submit">
            </div>        
        </form>
    </div>

    <div class="container text-bg-info w-50">
        <!-- TODO for testing remove -->
        <!-- {% for key, value in game_data.items() %}
            <p>{{key}} {{value}}</p>
        {% endfor %}
        <h5>{{game_data.get('number_of_colours')}}</h5> -->
        <div class="row">
            {% for i in range(game_data.get('number_of_positions')) %}
            <div class="col-sm">placeholder {{i+1}}</div>
            {% endfor %}  
        </div>
        <!-- <div class="row"> -->
            <form class="row" action="" method="post">
                {% for i in range(game_data.get('number_of_positions')) %}
                <input class="col-sm" type="number" min="1" max="{{game_data.get('number_of_colours')}}" name=guess_position_{{i+1}}>
                {% endfor %}  
            </form>
        <!-- </div> -->
    </div>

{% endblock %}